# Ignore large data files and processed/results directories
datasets/processed/
datasets/raw/**/*.h5
datasets/raw/**/*.hdf5
datasets/tau_tests/**/*.h5
datasets/tau_tests/**/*.hdf5

results/*
!results/pearce_2026_reionemu_mc_dropout/
results/pearce_2026_reionemu_mc_dropout/*
!results/pearce_2026_reionemu_mc_dropout/n_mc_201_epochs_1000_early_stop_150/

artifacts/*
!artifacts/pearce_2026_reionemu_mc_dropout/
artifacts/pearce_2026_reionemu_mc_dropout/*
!artifacts/pearce_2026_reionemu_mc_dropout/mc_dropout_experiment_n_mc_201_epochs_1000_early_stop_150/

checkpoints/
ray_results/

# Simulation files
planck_2018_transfer_z000.dat

# Virtual environments
.venv/
env/
venv/
ENV/
.venv_unix/
.venv_windows/

# Jupyter
.ipynb_checkpoints/
*.ipynb~
**/.ipynb_checkpoints

# PyCharm / JetBrains
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log
*.out
*.err

# OS
.DS_Store
Thumbs.db
